{% extends "base_structure.html" %}
{% load static %}

{% block meta_description %}CrowdFund - Donor Dashboard and Campaign Management{% endblock %}
{% block meta_keywords %}donate, campaigns, fundraising, donor dashboard{% endblock %}

{% block body_class %}donor-interface{% endblock %}

{% block navbar %}
    {% include "donor/donor_header.html" %}
{% endblock %}

{% block base_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/donor.css' %}">
{% endblock %}

{% block base_js %}
    {{ block.super }}
    <script src="{% static 'js/donor.js' %}"></script>
{% endblock %}
